@model IEnumerable<AptEMS.Models.OfferLetterReleased>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


<link href="~/Content/shifts.css" rel="stylesheet" />

<h2> Offer Letter Released Candidates </h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new {  id=item.Mobile  }) |
        @Html.ActionLink("Details", "Details", new { id = item.Mobile }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Mobile }, new { @class = "btn btn-danger btn-sm" }) |
            @Html.ActionLink("Convert To Employee", "Setasemployee", new { id = item.Mobile }, new { @class = "btn btn-edit btn-sm" })

        </td>
    </tr>
}

</table>
