@model AptEMS.Models.Employee

@{
    ViewBag.Title = "Setasemployee";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Set As Employee </h2>


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalZipCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonalEmailID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalEmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeEmailID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OfficeEmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankAccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankIFSCCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankIFSCCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BankIFSCCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOJ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Empphoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Empphoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Empphoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PANno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PANno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PANno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PANphoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PANphoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PANphoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aadharno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aadharno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aadharno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aadharphoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aadharphoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aadharphoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isactive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isactive)
                    @Html.ValidationMessageFor(model => model.isactive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@



<link href="~/Content/shifts.css" rel="stylesheet" />


<div style="margin: 50px 100px 10px 100px; background-color: lightgray; border-radius: 10px; padding: 30px 0px 15px 60px">

    <h2>Create</h2>
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <!-- Column 1 -->
                <div class="col-md-6">

                    <div class="form-group">

                        <label for="Id" class="control-label col-md-2" style="white-space: nowrap;">
                            ID <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="FirstName" class="control-label col-md-2" style="white-space: nowrap;">
                            First Name <span style="color: red;">*</span>
                        </label>

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FirstName, "First Name", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="Phonenumber" class="control-label col-md-2" style="white-space: nowrap;">
                            Phonenumber <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="PostaZipCode" class="control-label col-md-2" style="white-space: nowrap;">
                                Alter Mobile Number  <span style="color: red;">*</span>
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PostaZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PostaZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>*@








                    <div class="form-group">
                        <label for="DOB" class="control-label col-md-2" style="white-space: nowrap;">
                            Date of Birth <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Designation" class="control-label col-md-2" style="white-space: nowrap;">
                            Designation <span style="color: red;">*</span>
                        </label>

                        <div class="col-md-10">


                            @Html.DropDownListFor(model => model.Designation, new SelectList(ViewBag.Designation, "Text", "Text"), "--Select Designation  Type--", new { @class = "form-control" })

                            @*@Html.DropDownListFor(model => model.Designation, ViewBag.Designation as SelectList,"--Select Designation Type--",new { @class = "form-control" })*@


                        </div>

                    </div>

                    <div class="form-group">
                        <label for="Bankname" class="control-label col-md-2" style="white-space: nowrap;">
                            Bank Name <span style="color: red;"> </span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BankIFSCcode" class="control-label col-md-2" style="white-space: nowrap;">
                            BankIFSCcode <span style="color: red;"> </span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankIFSCCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BankIFSCCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Aadharphoto" class="control-label col-md-2" style="white-space: nowrap;">
                            Aadhar photo <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            <input type="file" id="AadharphotoFile" name="AadharphotoFile" />
                            @Html.ValidationMessageFor(model => model.Aadharphoto, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="Aadharno" class="control-label col-md-2" style="white-space: nowrap;">
                            Aadhar no <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Aadharno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Aadharno, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="Currentadress" class="control-label col-md-2" style="white-space: nowrap;">
                            Current Address <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CurrentAddress, new { @class = "form-control", rows = "3", id = "CurrentAddress" })
                            @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <br />



                    <div class="form-group">

                        <label for="City" class="control-label col-md-2" style="white-space: nowrap;">
                            City <span style="color: red;">*</span>
                        </label>


                        <div class="col-md-10">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <label for="isactive" class="control-label col-md-2" style="white-space: nowrap;">
                            IS ACTIVE <span style="color: red;"> </span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.isactive, new { htmlAttributes = new { @class = "form-check-input" } })
                            @Html.ValidationMessageFor(model => model.isactive, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>







                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Empphoto" class="control-label col-md-2" style="white-space: nowrap;">
                            Employee Photo <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            <input type="file" id="EmpphotoFile" name="EmpphotoFile" />
                            @Html.ValidationMessageFor(model => model.Empphoto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="LastName" class="control-label col-md-2" style="white-space: nowrap;">
                            Last Name <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PersonalemailID" class="control-label col-md-2" style="white-space: nowrap;">
                            Email <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PersonalEmailID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PersonalEmailID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label for="OfficeemailID" class="control-label col-md-2" style="white-space: nowrap;">
                                Office EmailID<span style="color: red;">*</span>
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OfficeemailID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OfficeemailID, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label for="DOJ" class="control-label col-md-2" style="white-space: nowrap;">
                            Date of Joining <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DOJ, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DOJ, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <br />
                        <br />
                        <br />
                    </div>




                    <div class="form-group">
                        <label for="Bankaccountnumber" class="control-label col-md-2" style="white-space: nowrap;">
                            Bank Account Number <span style="color: red;"> </span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BankAccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>






                    <div class="form-group">
                        <label for="Branch" class="control-label col-md-2" style="white-space: nowrap;">
                            Branch <span style="color: red;"> </span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PANphoto" class="control-label col-md-2" style="white-space: nowrap;">
                            Employee PAN Card <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            <input type="file" id="PANphotoFile" name="PANphotoFile" />
                            @Html.ValidationMessageFor(model => model.PANphoto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PANno" class="control-label col-md-2" style="white-space: nowrap;">
                            PAN no <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PANno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PANno, "", new { @class = "text-danger" })
                        </div>
                    </div>










                    <div class="form-group">
                        <label for="Permanentadress" class="control-label col-md-2" style="white-space: nowrap;">
                            Permanent Address <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PermanentAddress, new { @class = "form-control", rows = "3", id = "PermanentAddress" })
                            @Html.ValidationMessageFor(model => model.PermanentAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="SameAddressCheckbox" />
                                    Same as Current Address
                                </label>
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="Designation" class="control-label col-md-2" style="white-space: nowrap;">
                            State <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    @*<div class="form-group">
                            <label for="Country" class="control-label col-md-2" style="white-space: nowrap;">
                                Nationality <span style="color: red;">*</span>
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>*@








                </div>





            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", rows = "5" })
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<input type="submit" value="Create" class="btn btn-default my-create-button" />*@
                    <input type="submit" value="Create" class="btn btn-default" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn my-custom-button" })
                </div>
            </div>

        </div>

    }




</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#SameAddressCheckbox').change(function () {
            if ($(this).is(':checked')) {
                // Copy Current Address to Permanent Address
                $('#PermanentAddress').val($('#CurrentAddress').val());
                $('#PermanentAddress').prop('readonly', true); // Make Permanent Address read-only
            } else {
                // Clear Permanent Address and make it editable
                $('#PermanentAddress').val('');
                $('#PermanentAddress').prop('readonly', false);
            }
        });
    });
    </script>

}






