@model IEnumerable<AptEMS.Models.Deduction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Deductions </h2>









<link href="~/Content/shifts.css" rel="stylesheet" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/shifts.css" rel="stylesheet" />






<div class="container mt-5">
    <div class="bg-light rounded p-4 ">


        <p style="text-align:right;padding-right:70px">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary my-custom-button" })
        </p>

        <div class="table-responsive">
            <!-- Makes the table responsive -->
            <table id="datatable" class="table table-striped table-bordered">
                <!-- Added Bootstrap classes -->
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmpName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeductionType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EffectiveDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeductionAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeductionFrequency)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApprovalStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApprovalDate)
                        </th>
                     
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmpName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeductionType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EffectiveDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeductionAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeductionFrequency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApprovalDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-edit btn-sm" }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#datatable").DataTable({
            // Custom options for DataTable
            paging: true,
            searching: true,
            ordering: true,
            lengthMenu: [5, 10, 25, 50, 100],
            pageLength: 10,
            language: {
                search: "Custom Search:",  // Customize search label
                lengthMenu: "Display _MENU_ records per page",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                infoEmpty: "No entries to show",
                zeroRecords: "No matching records found"
            }
        });

    });


</script>




