@model AptEMS.Models.Holiday
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}



<h2>Edit Holiday</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.HolidayId)

    <div class="form-group">
        @Html.LabelFor(m => m.HolidayName)
        @Html.TextBoxFor(m => m.HolidayName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.HolidayName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FromDate)
        @Html.TextBoxFor(m => m.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ToDate)
        @Html.TextBoxFor(m => m.ToDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
    </div>

   
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save Changes</button>

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

    </div>
}
