@model IEnumerable<AptEMS.Models.LOP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}
<link href="~/Content/shifts.css" rel="stylesheet" />

<h2>LOP</h2>
<br />
<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="overlay"></div> <!-- Background overlay for blur effect -->
    <div class="alert alert-success custom-alert">
        @TempData["SuccessMessage"]
    </div>
}

<div class="container mt-5">
    <div class="bg-light rounded p-4">

        <p style="text-align:right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary my-custom-button" })
        </p>

        <div class="table-responsive">
            <table id="datatable" class="table table-striped table-bordered">

                <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Empid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalLeaveDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveLeft)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalLeaveDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveStatus)
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.LeaveLeft)</td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */   id = item.Empid }, new { @class = "btn btn-edit" })  |
                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */  id = item.Empid }) |*@
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */  id = item.Empid }, new { @class = "btn btn-delete" })
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>












    </div>



</div>


<script>
    $(document).ready(function () {

        $("#datatable").DataTable({
            // Custom options for DataTable
            paging: true,
            searching: true,
            ordering: true,
            lengthMenu: [5, 10, 25, 50, 100],
            pageLength: 10,
            language: {
                search: "Custom Search:",  // Customize search label
                lengthMenu: "Display _MENU_ records per page",
                info: "Showing _START_ to _END_ of _TOTAL_ entries",
                infoEmpty: "No entries to show",
                zeroRecords: "No matching records found"
            }
        });

    });


</script>




